<p>
  <mat-toolbar class="toma" color="primary">
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
      <mat-icon>fingerprint</mat-icon>
    </button>

    <a mat-button routerLink = "home">Home</a>
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">

    </button>
    <a mat-button routerLink = "favorito">Favorito</a>
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">

    </button>

    <a mat-button routerLink = "signup">Signup</a>
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">

    </button>

    <a mat-button routerLink = "clientes">Clientes</a>
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">

    </button>


       <!-- <span>My App</span> -->

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_basket</mat-icon>
    </button>

    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>outlet</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>facebook</mat-icon>

    </button>
  </mat-toolbar>
</p>
