.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  background-color: rgb(36, 33, 34);
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-primary{
  color: rgb(77, 199, 47);

}
.mat-flat-button{
  color:rgb(226, 177, 43);
  background-color: cadetblue;
}
.mat-raised-button{
  color: rgb(29, 199, 230);
}
.mat-button{
  background-color: rgba(131, 131, 131, 0.082);
}

.mat-button:hover{
  background-color: rgba(131, 131, 131, 0.377);
}
