.icon-holder {
  align-items: center;
  background-color: #6cff47;
  border-radius: 50%;
  display: flex;
  flex-wrap: nowrap;
  height: 600px;
  justify-content: center;
  margin: 0 auto 45px;
  width: 600px;
}
.h1{
  align-items: center;
}
.example-spacer {
  flex: 1 1 auto;
}
.fa-icon{
align-items: center;
}
.globalzona{
  text-align: center;
}
